.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  height: 700%;
  text-align: center;
}

.texto {
  margin-top: 14px;
  text-align: center;
}

.letra {
  margin-top: 10px;
  text-align: center;
}

.boton {
  margin-top: 10px;
  text-align: center;
}

.centrar {
  text-align: center;
}
